<div class="container">
    <div class="card">
        <div class="form-group">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            <button class="btn btn-info ">Submit</button>
        </div>
    </div>
</div>

